<p class="text-center text-muted" style="font-size: x-small">
    Copyright &copy; 2018-2019 &middot; YouDEX
</p>
<script>

// Get the modal
var modal = document.getElementById('myModal'),
    isApi = false;

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    if (isApi) modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal && isApi) {
        modal.style.display = "none";
    }
}

    <% include ../../public/include/jquery-1.12.4.min.js %>
    <% include ../../public/include/api.js %>
    <% include ../../public/js/utils.js %>
    start1();
    initApi();
    var redLed = "width: 20px; height:20px; border-radius: 10px; background: #900;";
    var greenLed = "width: 20px; height:20px; border-radius: 10px; background: #090;";
    showDate();
    semafor(1, 0, 0);
</script>
    <% include ../../public/js/script %>
<script>
    setInterval("digitalWatch()", 1000);
    showBalances();
    showPrices();
    // open the modal 
    modal.style.display = "block";
    var userActiveCheck = setInterval("initUser(myUser)", 6000);

</script>