<meta charset="UTF-8">
<title>Atomic swap demo</title>

<!-- CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="all">

<style>
    body {
        padding-top: 20px;
        color: #888;
        background-color: #000;
    }
</style>