<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
            <a class="navbar-brand" href="/ett">
                <span class="glyphicon glyphicon-random"></span> Direct Exchange Test
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar_main">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="ett/about">About</a></li>
                <li class="disabled"><a href="#">Dashboard</a></li>
                <li class="disabled"><a href="#">Wallets</a></li>
                <li class="disabled"><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;user_Test</a></li>
            </ul>
        </div>
    </div>
</nav>