body {
    padding-top: 20px;
    color: #888;
    background-color: #000;
}

.instagram-pic {
    position: relative;
    padding: 10px;
    overflow: hidden;
}

.instagram-pic img {
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.instagram-bar {
    position: absolute;
    bottom: 30px;
    width: 100%;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFF;
}

.instagram-bar span {
    margin-right: 5px;
}

.instagram-bar .likes {
    float: left;
}

.instagram-bar .comments {
    float: right;
}

.b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.b-popup .b-popup-content {
    margin: 150px auto 0px auto;
    width: 420px;
    height: 630px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    /*   display: none;*/
}

input[type=number] {
    -moz-appearance: textfield;
}


/* FOOTER */

footer {
    padding: 10px;
}