<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container-fluid">

    <header>
        <% include ../partials/header %>
    </header>
    <script type="text/javascript">
        //  Initial values
        var redLed = "width: 20px; height:20px; border-radius: 10px; background: #900;";
        var greenLed = "width: 20px; height:20px; border-radius: 10px; background: #090;";
    </script>
    <main>
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-6" style="border: 1px solid #222;">
                    <div class="col-xs-1">
                        <div id="aliceLed"></div>
                    </div>
                    <div class="col-xs-5" style="text-align: left; font-size:18px">
                        <strong>Alice's wallet</strong>
                    </div>

                    <table border="1" style="font-size:13px">
                        <tr>
                            <th style="padding: 1px;">ETH</th>
                            <th id="aliceEth" style="padding: 1px;">&nbsp;&nbsp;</th>
                            <th id="aliceEthBalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                        </tr>
                        <tr>
                            <th style="padding: 1px;">BTC</th>
                            <th id="aliceBtc" style="padding: 1px;">&nbsp;&nbsp;</th>
                            <th id="aliceBtcBalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                        </tr>
                        <tr>
                            <th style="padding: 1px;">LIME</th>
                            <th id="aliceLime" style="padding: 1px;">&nbsp;&nbsp;</th>
                            <th id="aliceLimeBalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                        </tr>
                    </table>

                    <br> Sell:
                    <input type="number" id="summBTCA" style="width:1.7cm" step="0.000001" onchange="calcEth();"></input>
                    BTC&nbsp;&nbsp;&nbsp;Buy:
                    <input type="number" id="summETHA" style="width:1.4cm" step="0.001" onchange="calcBtc();"></input>
                    ETH&nbsp;&nbsp;&nbsp;Pledge:<input type="number" id="summLIMEA" style="width:1.8cm" step="0.001"></input>
                    LIME<br><br>
                    <div style="text-align: left">

                        <button type="button" onClick="placeOrder();">&nbsp;&nbsp;Place order&nbsp;&nbsp;</button></div>
                    <br>
                    <div id="aliceStatus">waiting order</div>
                </div>
                <div class="col-md-6" style="border: 1px solid #222;">
                    <div class="col-xs-1">
                        <div id="bobLed"></div>
                    </div>
                    <div class="col-xs-5" style="text-align: left; font-size:18px">
                        <strong>Bob's wallet</strong>
                    </div>

                    <table border="1" style="font-size:13px">
                        <tr>
                            <th style="padding: 1px;">&nbsp;ETH&nbsp;</th>
                            <th id="bobEth" style="padding: 1px;">&nbsp;&nbsp;</th>
                            <th id="bobEthBalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                        </tr>
                        <tr>
                            <th style="padding: 1px;">&nbsp;BTC&nbsp;</th>
                            <th id="bobBtc" style="padding: 1px;">&nbsp;&nbsp;</th>
                            <th id="bobBtcBalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                        </tr>
                        <tr>
                            <th style="padding: 1px;">&nbsp;LIME&nbsp;</th>
                            <th id="bobLime" style="padding: 1px;">&nbsp;&nbsp;</th>
                            <th id="bobLimeBalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                        </tr>
                    </table>
                    <br> Sell:
                    <input type="number" id="summETHB" style="width:1.4cm" step="0.001" onchange="calcBtc();"></input>
                    ETH&nbsp;&nbsp;&nbsp;Buy:
                    <input type="number" id="summBTCB" style="width:1.7cm" step="0.000001" onchange="calcEth();"></input>
                    BTC&nbsp;&nbsp;&nbsp;Pledge:
                    <input type="number" id="summLIMEB" style="width:1.8cm" step="0.001"></input>
                    LIME<br><br>
                    <div style="text-align: left"><button type="button" onClick="fillOrder();">&nbsp;&nbsp;&nbsp;Fill order&nbsp;&nbsp;&nbsp;</button></div>
                    <br>
                    <div id="bobStatus">waiting order</div>
                </div>
            </div>
            <div> <br>&nbsp;<br> </div>
            <div class="col-md-3" style="text-align: center;">
                <br><br><br><br>
                <div id="digital_watch" style="color: #999; font-size: 120%; font-weight: bold; position: relative;"></div>
                <br>London, 16 December 2017
            </div>
            <div class="col-md-6" style="border: 1px solid #222;">
                <div class="col-xs-1">
                    <div id="plasmoidLed"></div>
                </div>
                <div class="col-xs-8" style="text-align: left; font-size:18px">
                    <strong>Plasmoid crosschain relay</strong>
                </div>
                <table border="1" style="font-size:13px">
                    <tr>
                        <th style="padding: 1px;">&nbsp;LIME&nbsp;</th>
                        <th id="plasmaLime" style="padding: 1px;">&nbsp;&nbsp;</th>
                        <th id="plasmaLimeBalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                    </tr>
                </table>
                <div>Cryptocurrency exchange rates:</div>
                <div id="plasmaPrices">calculating...</div>
                <br>
                <div id="progressStatus">0: waiting order</div>
                <div><progress id="ind" max="10" value="0" style="width: 100%; color: #222" ;><span id="value">0</span>%
                        </progress></div>
                <br>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        <% include ../../public/js/ethereumjs-tx.js %>
        <% include ../../public/js/bignumber.min.js %>
        <% include ../../public/js/web3.min.js %>
        <% include ../../public/js/token_abi.js %>
        <% include ../../public/js/dex_abi.js %>
        <% include ../../public/js/accounts.js %>
        <% include ../../public/js/utils.js %>
    </script>
    <% include ../../public/js/script %>
        <script>
            showWallets();
            showBalances();
            showPrices();
            semafor(1, 0, 0);
            // sendCoin(10000);
            setInterval("digitalWatch()", 1000);
        </script>
</body>