<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<% include ../../public/js/script %>
</head>
<body class="container-fluid" style="background-color: rgb(19,23,34); color: #444">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
			<div class="col-s-12 col-md-10" style="height:480px;"> 
<!-- TradingView Widget BEGIN 
				<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
				<script type="text/javascript">
					new TradingView.widget({
					"autosize": true,
  					"symbol": "POLONIEX:ETHUSDT",
  					"interval": "30",
					"timezone": "Asia/Ashkhabad",
  					"theme": "Dark",
  					"style": "1",
  					"locale": "en",
  					"toolbar_bg": "rgba(66, 66, 66, 1)",
  					"enable_publishing": false,
  					"save_image": false,
  					"hideideas": true
					});
				</script>
TradingView Widget END -->
<div style="width: 100%;height: 100%;background: transparent;padding: 0 !important;"><div style="width: 100%;height: 100%;background: transparent;padding: 0 !important;"><iframe id="tradingview_5dbc2" src="https://www.tradingview.com/widgetembed/?symbol=POLONIEX%3AETHUSDT&amp;interval=30&amp;hidesidetoolbar=1&amp;symboledit=0&amp;saveimage=0&amp;toolbarbg=rgba(66, 66, 66, 1)&amp;studies=%5B%5D&amp;hideideas=1&amp;theme=Dark&amp;style=1&amp;timezone=Asia%2FAshkhabad&amp;studies_overrides=%7B%7D&amp;overrides=%7B%7D&amp;enabled_features=%5B%5D&amp;disabled_features=%5B%5D&amp;locale=en&amp;utm_source=ru.tradingview.com&amp;utm_medium=widget&amp;utm_campaign=chart&amp;utm_term=POLONIEX%3AETHUSDT" style="width: 100%; height: 100%; margin: 0 !important; padding: 0 !important;" frameborder="0" allowtransparency="true" scrolling="no" allowfullscreen=""></iframe></div></div>
			</div>
			<div class="col-md-2" style="color:#888"> 
				<div style="text-align: center">Balance</br> 
				<text id="bal" style="width: 50px">12.54</text><text>&nbsp;ETH&nbsp;&nbsp;</text>
				<text id="bal" style="width: 50px">366.5</text><text>&nbsp;USD</text>
				</div><hr>
			<div id="box_name" style="text-align: center">loading...</div>
			<div id="trade_box">loading...</div>
			<br>
<!--			<hr />  -->
			<div style="text-align: center">Auto trading</div>
			<div>
			<text>Parameter 1&nbsp;</text><input type="number" id="l_pct" min="0" max="9" style="width: 50px" step="0.01"><br>
			<text> Parameter 2&nbsp;</text><input type="number" id="d_pct" min="0" max="9" style="width: 50px" step="0.01">
			</div><br>
<!--			<div>Stop orders</div>
			<div>
			Sell price <input type="number" id="high_price" min="0" max="999" style="width: 50px" step="0.01">
			<text> USDT </text>
			Buy price <input type="number" id="low_price" min="0" max="999" style="width: 50px" step="0.01">
			<text> USDT </text></div></br> -->
			<div style="text-align: center">
			<button type="button" class="btn btn-xs btn-primary" id="test" onClick="test()">Test parameters</button>
			</div></br>
			<div style="text-align: center">
			<button type="button" class="btn btn-xs btn-success" id="auto" onClick="startAuto()">Start Auto</button>
<!--			<button type="button" class="btn btn-mini btn-warning" id="auto1" onClick="startAuto1()">Auto sell</button> -->
			<button type="button" class="btn btn-xs btn-danger" id="stop" onClick="stopAuto()">Reset all!</button>
			</div>
 			<hr />
		 	$:&nbsp;<text id="mode">Waiting for command...</text></br>
		 	<text id="cmd"></text></br>
		</div>
			
        </main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>	is_cmd();</script>
</body>
