<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container-fluid">

    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="container">
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Hello, User!</h2>
                    </div>
                    <div class="modal-body" style="font-size:13px">
                                               <div id="welcome">
                            <p>This application demonstrates Atomic swap BTC-ETH in test networks Ethereum and Bitcon. To start, close this window and click
                                "Place order". Then click "Fill order".</p>
                                <p>You can change the volume of the crypto currency for the exchange, but the amount is limited by the amount of YODA.</p>
                            <p>The exchange log will be displayed in the status line and in the browser console. </p>
                        </div>
                    </div>
                    <div id="alert" class="modal-footer" style="text-align: left; font-size:18px">
                        Please wait, service is running!
                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="col-md-6" style="border: 1px solid #222;">
                    <div class="col-xs-1">
                        <div id="aliceLed"></div>
                    </div>
                    <div class="col-xs-5" style="text-align: left; font-size:18px">
                        <strong>Alice's wallet</strong>
                    </div>

                    <table border="1" style="font-size:13px">
                        <tr>
                            <th style="padding: 1px;">ETH</th>
                            <th id="aliceEth" style="padding: 1px;">&nbsp;&nbsp;</th>
                            <th id="aliceEthBalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                        </tr>
                        <tr>
                            <th style="padding: 1px;">BTC</th>
                            <th id="aliceBtc" style="padding: 1px;">&nbsp;&nbsp;</th>
                            <th id="aliceBtcBalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                        </tr>
                        <tr>
                            <th style="padding: 1px;">YODA</th>
                            <th id="aliceYODA" style="padding: 1px;">&nbsp;&nbsp;</th>
                            <th id="aliceYODABalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                        </tr>
                    </table>

                    <br> Sell:
                    <input type="number" id="summBTCA" style="width:1.7cm" step="0.000001" min="0" max="0.1" onchange="calcEth();"></input>
                    BTC&nbsp;&nbsp;&nbsp;Buy:
                    <input type="number" id="summETHA" style="width:1.4cm" step="0.001" min="0" max="1.0" onchange="calcBtc();"></input>
                    ETH&nbsp;&nbsp;&nbsp;Pledge:
                    <input type="number" id="summYODAA" style="width:1.8cm" step="0.001"></input>
                    YODA
                    <br>
                    <br>
                    <div style="text-align: left">

                        <button id="Place" type="button" onClick="placeOrder();">&nbsp;&nbsp;Place order&nbsp;&nbsp;</button>
                    </div>
                    <br>
                    <div id="aliceStatus">waiting order</div>
                </div>
                <div class="col-md-6" style="border: 1px solid #222;">
                    <div class="col-xs-1">
                        <div id="bobLed"></div>
                    </div>
                    <div class="col-xs-5" style="text-align: left; font-size:18px">
                        <strong>Bob's wallet</strong>
                    </div>

                    <table border="1" style="font-size:13px">
                        <tr>
                            <th style="padding: 1px;">&nbsp;ETH&nbsp;</th>
                            <th id="bobEth" style="padding: 1px;">&nbsp;&nbsp;</th>
                            <th id="bobEthBalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                        </tr>
                        <tr>
                            <th style="padding: 1px;">&nbsp;BTC&nbsp;</th>
                            <th id="bobBtc" style="padding: 1px;">&nbsp;&nbsp;</th>
                            <th id="bobBtcBalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                        </tr>
                        <tr>
                            <th style="padding: 1px;">&nbsp;YODA&nbsp;</th>
                            <th id="bobYODA" style="padding: 1px;">&nbsp;&nbsp;</th>
                            <th id="bobYODABalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                        </tr>
                    </table>
                    <br> Sell:
                    <input type="number" id="summETHB" style="width:1.4cm" step="0.001" onchange="calcBtc();"></input>
                    ETH&nbsp;&nbsp;&nbsp;Buy:
                    <input type="number" id="summBTCB" style="width:1.7cm" step="0.000001" onchange="calcEth();"></input>
                    BTC&nbsp;&nbsp;&nbsp;Pledge:
                    <input type="number" id="summYODAB" style="width:1.8cm" step="0.001"></input>
                    YODA
                    <br>
                    <br>
                    <div style="text-align: left">
                        <button id="Fill" type="button" disabled onClick="fillOrder();">&nbsp;&nbsp;&nbsp;Fill order&nbsp;&nbsp;&nbsp;</button>
                    </div>
                    <br>
                    <div id="bobStatus">waiting order</div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-6 col-md-offset-3" style="border: 1px solid #222;">
                <div class="col-xs-1">
                    <div id="plasmoidLed"></div>
                </div>
                <div class="col-xs-8" style="text-align: left; font-size:18px">
                    <strong>Plasmoid crosschain relay</strong>
                </div>
                <table border="1" style="font-size:13px">
                    <tr>
                        <th style="padding: 1px;">&nbsp;YODA&nbsp;</th>
                        <th id="plasmoidYODA" style="padding: 1px;">&nbsp;&nbsp;</th>
                        <th id="plasmoidYODABalance" style="padding: 1px;">&nbsp;&nbsp;</th>
                    </tr>
                </table>
                <div>Cryptocurrency exchange rates:</div>
                <div id="plasmoidPrices">calculating...</div>
                <br>
                <div id="progressStatus">0: waiting order</div>
                <div>
                    <progress id="ind" max="10" value="0" style="width: 100%; color: #222" ;>
                        <span id="value">0</span>%
                    </progress>
                </div>
                <br>
            </div>
            <div class="col-md-3" style="text-align: center;">
                <br>
                <br>
                <div id="digital_watch" style="color: #999; font-size: 120%; font-weight: bold; position: relative;"></div>
                <br>London,
                <text id="dateNow">&nbsp;&nbsp;&nbsp;</text>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>